* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #ffffff; }

body, input, textarea {
  font-family: 'Gotham Pro'; }

header, section, .section, footer {
  position: relative;
  width: 100%; }

 .container {
  max-width: 1145px;
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
  width: 100%; }

a {
  -webkit-transition: 300ms all linear;
  -o-transition: 300ms all linear;
  transition: 300ms all linear; }

img {
  max-width: 100%;
  width: auto;
  height: auto; }

#menu {
	width: 736px;
	position: fixed;
	left: -736px;
	visibility: hidden;
	opacity: 0;
	transition: 300ms all linear;
	top: 0;
	z-index: 1000;
}

	#menu .wrapper {
		height: 786px;
		border: 1px solid #ffffff;
		background-color: #ffffff;
		width: 100%;
		padding: 132px 0 179px 164px;
	}


	#menu .wrapper ul li {
		list-style-type: none;
		padding-top: 16px;

	}

	#menu .wrapper ul li a {
		font-size: 24px;
		font-weight: bold;
		line-height: 1.42;
		letter-spacing: normal;
		text-align: left;
		color: #1a3c7c;
		text-decoration: none;
	}

	#menu .wrapper .phone {
		padding-top: 35px;
	}

	#menu .wrapper .phone a {
		font-size: 24px;
		font-weight: 500;
		line-height: 1.42;
		letter-spacing: normal;
		text-align: left;
		color: #1a3c7c;
		text-decoration: none;
	}
	
	#menu .wrapper .btn_menu {
		margin-top: 57px;
		vertical-align: top;
		display: inline-block;
		text-align: center;
		width: 247px;
		height: 51px;
		border-radius: 5px;
		background-color: #377dff;
		border: solid 1px #ffffff;
		font-size: 14px;
		font-weight: 500;
		line-height: 51px;
		letter-spacing: -0.8px;
		color: #ffffff;
		text-transform: uppercase;
		transition: 300ms all linear;
		cursor: pointer; }

		#menu .wrapper .btn_menu:hover {
			background: #fff;
			color: #377dff;
			border: solid 1px #377dff;
		}


	#menu.active {
		left: 0px;
		opacity: 1;
		visibility: visible;
	}

	

#header {
  	position: relative;
  	height: 165px;
  	width: 100%;
  	background-color:#367dff;
  	z-index: 1; }

  #header .container .top{
  	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px; }
  
  #header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

  #header .logo a {
      display: block;
      width: 31px;
      height: 41px;
      padding-left: 49px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      background: url(images/logo.png) 0 0 no-repeat; }
  }

  #header .logo .site_name {
  	padding-left: 18px;
   	font-size: 20px;
  	font-weight: bold;
	line-height: 1.05;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff; }
	
	#header .container .top .right_side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
	justify-content: flex-end; }

	#header .container .top .right_side .phone_line a {
		margin-right: 10px;
		font-size: 24px;
	  	font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.42;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		text-decoration: none; }
		
	#header .container .top .right_side .burger {
		-webkit-transition: 300ms all linear;
		-o-transition: 300ms all linear;
		transition: 300ms all linear;
		justify-content: center;
		align-items: center;
		display: flex;
		width: 56px;
		height: 56px;
		border-radius: 50%;	
	}


	#header .container .top .right_side .burger.active span{
		background: transparent !important;
	}
	#header .container .top .right_side .burger.active span:before{
		transform: rotate(45deg);
		top: 0;
	}
	#header .container .top .right_side .burger.active span:after {
		transform: rotate(-45deg);
		bottom: 0;
	}


		#header .container .top .right_side .burger:hover {
		background-color: #fff;

	}

	#header .container .top .right_side .burger:hover span,
	#header .container .top .right_side .burger:hover span:before,
	#header .container .top .right_side .burger:hover span:after {
		background-color: #367dff;
	}
	
	#header .container .top .right_side .burger span {
		position: relative;
		width: 23px;
		height: 3px;
		background: #fff;
		transition: 300ms all linear;
	}

		#header .container .top .right_side .burger span:before {
			content: "";
			position: absolute;
			width: 23px;
			height: 3px;
			background: #fff;
			top: -10px;
			transition: 300ms all linear;
		}

		#header .container .top .right_side .burger span:after {
			content: "";
			position: absolute;
			width: 23px;
			height: 3px;
			background: #fff;
			bottom: -10px;
			transition: 300ms all linear;
		}


	#welcome-screen .text h1{
		font-size: 64px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.17;
		letter-spacing: 1px;
		text-align: left;
		color: #ffffff;
		margin-bottom: 18px;	}

	#welcome-screen .text p{
		margin-bottom: 33px;
		font-size: 24px;
	  	font-weight: 300;
	 	font-style: normal;
	 	font-stretch: normal;
	 	line-height: 1.42;
	 	letter-spacing: normal;
	 	text-align: left;
	 	color: #ffffff;	}

	#welcome-screen .text .btn_text {
		display: inline-block;
	}

	#welcome-screen .btn {
		padding-left: 31px;
		width: 262px;
	  	height: 51px;
	 	border-radius: 5px;
	  	background-color: #ffffff;
	  	border: solid 1px #ffffff;
	  	font-size: 14px;
  		font-weight: 500;
	  	line-height: 51px; 
		letter-spacing: normal;
		text-align: left;
		color: #0f63fe;
		text-transform: uppercase;
		transition: 300ms all linear;
		cursor: pointer; }
	
	#welcome-screen .btn:hover {
		background-color: #367dff;
		color: #fff;
	}

#welcome-screen {
	background-color:#367dff;
	height: 621px;
	display: flex;
}

#welcome-screen .container:after {
	content: "";
	position: absolute;
	right: 18px;
	top: 0px;
	width: 539px;
	height: 703px;
	opacity: .04;
	background: url(images/bg.png) right 3px top no-repeat;
	pointer-events: none;
}

	#welcome-screen .container {
		padding-top: 80px;
	}

	#welcome-screen .container * {
		position: relative;
	}


#project_list {
	height: 846px;
	background-color: #367dff;
}


		#project_list .owl-nav {
			left: 75px;
			top: 678px;
			position: absolute;
		}

		#project_list .slide-num {
			position: absolute;
			bottom: 95px;
			left: 102px;
			font-size: 18px;
			font-weight: bold;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #1a3c7c;
			z-index: 5;
		}

		#project_list .slide-num span {
			font-size: 18px;
			font-weight: bold;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #1a3c7c;
		}
	
		#project_list .owl-nav span {
			display: none;
		}
	

		#project_list .owl-nav .owl-prev,
		#project_list .owl-nav .owl-next {
			display: inline-block;
			width: 37px;
			height: 12px;
			margin-right: 25px;
	}

		#project_list .owl-nav .owl-next {
		background: url(images/right_arrow.png) 0 0 no-repeat;
	}

		#project_list .owl-nav .owl-prev {
		background: url(images/right_arrow.png) 0 0 no-repeat;
		transform: rotate(180deg);
	}

		#project_list .owl-nav .owl-next.disabled,
		#project_list .owl-nav .owl-prev.disabled {
		opacity: .7;
		cursor: default; }


	#project_list .slider {
		max-width: 1115px;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	
	#project_list .container .slider .slide-item {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	
	#project_list .container .slider .slide-item .img {
		width: 100%;
		height: 594px;
		background-size: cover;
		background-position: center;
	}

	#project_list .container .slider .slide-item img{
		height: 738px;;
		clear: both;
		display: relative;
		-webkit-transition: 300ms all linear;
		-o-transition: 300ms all linear;
		transition: 300ms all linear; }


	#project_list .slider .meta {
		text-align: right;
		min-height: 144px;
		background-color: #fff;
		padding-top: 46px;
		padding-right: 72px;
	}

	#project_list .slider .meta .block {
		display: inline-block;
		text-align: left;
		margin-left: 80px;
	}

	#project_list .slider .meta .block .name {
		font-size: 18px;
		font-weight: bold;
		font-style: normal;
		letter-spacing: normal;
		text-align: left;
		color: #1a3c7c;
		margin-bottom: 19px;
	}

	#project_list .slider .meta .block .text {
		font-size: 14px;
		font-weight: 500;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: rgba(26, 60, 124, 0.47);
	}

	#project_list .slider .meta .btn-slider {
		vertical-align: top;
		display: inline-block;
		text-align: center;
		margin-left: 99px;
		width: 186px;
		height: 51px;
		border-radius: 5px;
		background-color: #377dff;
		border: solid 1px #ffffff;
		font-size: 14px;
		font-weight: 500;
		line-height: 51px;
		letter-spacing: -0.8px;
		color: #ffffff;
		text-transform: uppercase;
		transition: 300ms all linear;
		cursor: pointer;
	}

		#project_list .slider .meta .btn-slider:hover {
			background: #fff;
			color: #377dff;
			border: solid 1px #377dff;
		}

#free_dev {
	min-height: 607px;
	position: relative;
}

#free_dev {
	background-color: #f1f8fe;
	display:flex;
	padding: 95px 0 113px 0;
	overflow: hidden;
}


#free_dev .container:after {
	content: "";
	position: absolute;
	top: 37px;
	right: -32px;
	width: 461px;
	height: 358px;
	background: url(images/pc.png) right 0 center no-repeat;
	pointer-events: none;
}

#free_dev .container* {
	position: relative;
	z-index: 1;
}

#free_dev h2 {
	font-size: 48px;
	font-weight: 900;
	line-height: 1.4;
	letter-spacing: 0.8px;
	text-align: left;
	color: #1a3c7c;
	margin-bottom: 31px;
}

#free_dev p {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.58;
	letter-spacing: normal;
	text-align: left;
	color: #1a3c7c;
	margin-bottom: 37px;
}

#free_dev .btn {
	display: inline-block; }

#free_dev .btn {
	width: 199px;
	height: 51px;
	line-height: 51px;
	padding-left: 51px;
	border-radius: 5px;
	background-color: #377dff;
	border: solid 1px #ffffff;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	text-transform: uppercase;
	transition: 300ms all linear;
	cursor: pointer; }

	#free_dev .btn:hover {
		background: #fff;
		color: #377dff;
		border: solid 1px #377dff;
	}


#we_are{
	height: 575px;
	display: flex;
	padding-top: 135px;
}

#we_are .container{
  	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;

  }

#we_are .text .dot {
	text-align: center;
	color: #1a3c7c;
	font-size: 144px;
	font-weight: 900;
	line-height: 67px;
	letter-spacing: 2.25px;
	margin-bottom: 70px; }

#we_are .text p{
	padding-bottom: 50px;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.42;
	letter-spacing: normal;
	text-align: center;
	color: #1a3c7c;	}

	#we_are .text h3 {
		width: 100%;
		color: #1a3c7c;
		position: relative;
		margin-bottom: 0;
		padding-top: 50px;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		line-height: 34px;
		 } 
		#we_are .text h3:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: 0 auto;
			width: 47px;
			height: 3px;
			background: #1a3c7c; }

#benefits {
	margin-top: 79px;
	height: 486px;
	background-color: #f1f8fe; }

	#benefits .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	#benefits .item {
		padding-top: 113px;
	}

	#benefits .item:nth-child(1) .name h2 {
		font-size: 24px;
		font-weight: bold;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: left;
		color: #1a3c7c;	}

	#benefits .item .name {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		height: 88px;
		margin-bottom: 26px;
	}

		#benefits .item:nth-child(1) .name:after {
			content: "";
			top: 0;
			position: absolute;
			left: 150px;
			width: 81px;
			height: 85px;
			background: url(images/pen.png) center no-repeat;
			opacity: .19;
			pointer-events: none;
		}
	
	#benefits .item:nth-child(2) .name h2 {
		font-size: 24px;
		font-weight: bold;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: left;
		color: #1a3c7c;	}


		#benefits .item:nth-child(2) .name:after {
			content: "";
			top: 0;
			position: absolute;
			left: 188px;
			width: 78px;
			height: 88px;
			background: url(images/sertifikat.png) center no-repeat;
			pointer-events: none;
		}

	#benefits .item:nth-child(3) .name h2 {
		font-size: 24px;
		font-weight: bold;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: left;
		color: #1a3c7c;	}

		#benefits .item:nth-child(3) .name:after {
			content: "";
			top: 0;
			position: absolute;
			left: 172px;
			width: 73px;
			height: 77px;
			background: url(images/process.png) center no-repeat;
			pointer-events: none;
		}	


		#benefits .item p{
			font-size: 16px;
			font-weight: 300;
			line-height: 1.56;
			letter-spacing: normal;
			text-align: left;
			color: #1a3c7c;	}

#stages {
	padding-top: 95px;
	overflow: hidden;
	padding-bottom: 59px; 
}

	#stages .container {
		position: relative;
	}

	#stages .slider {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;	}

	#stages .list .item {
		position: relative;
		width: 100%;
	}

	#stages .title {
		font-size: 48px;
		font-weight: 900;
		line-height: 1.1;
		letter-spacing: 0.8px;
		text-align: left;
		color: #1a3c7c; }

	#stages .title h2{
		margin-bottom: 75px;
	}

	#stages .name {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		height: 109px;
		margin-bottom: 40px;
	}

	#stages .name h2{
		font-size: 24px;
		font-weight: bold;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: left;
		color: #1a3c7c;	}

	#stages .name:after {
		content: attr(data-number);
		opacity: 0.1;
		font-size: 144px;
		font-weight: 900;
		line-height: 109px;
		letter-spacing: 2.3px;
		text-align: left;
		color: #1a3c7c;
		top: 0;
		position: absolute;
		right: 5px;
	}

	#stages .text p {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.56;
		letter-spacing: normal;
		text-align: left;
		color: #1a3c7c; }
	

	#stages .owl-nav {
		display: flex;
		justify-content: flex-end;
	}
	
	#stages .owl-nav .owl-prev,
	#stages .owl-nav .owl-next {
		text-indent: -9999px;
		width: 56px;
		height: 56px;
		margin-left: 30px;
		margin-top: 30px;
	}

	#stages .owl-nav .owl-next {
		background: url(images/right.png) 0 0 no-repeat;
	}

	#stages .owl-nav .owl-prev {
		background: url(images/right.png) 0 0 no-repeat;
		transform: rotate(180deg);
	}

	#stages .owl-nav .owl-next.disabled,
	#stages .owl-nav .owl-prev.disabled {
		opacity: .7;
		cursor: default;
	}


#results {
	height: 539px;
	background-color: #f1f8fe;
	border-bottom: 5px solid #ffffff;
	padding-top: 54px;
}

	#results .container .list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		align-content: center;
	}

	#results .ico img {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	#results .ico {
		position: relative;
		width: 100%;
		height: 139px;
		margin-bottom: 34px;
	}

	#results .list .text {
		align-items: center;
	}

	#results .title h2 {
		margin-bottom: 68px;
		font-size: 48px;
		font-weight: 900;
		line-height: 1.4;
		letter-spacing: 0.8px;
		text-align: left;
		color: #1a3c7c;	}

	#results .list p {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.56;
		letter-spacing: normal;
		text-align: center;
		color: #1a3c7c;	}

#footer {
	height: 100%;
	background-color: #367dff;
	padding: 82px 0 54px 0;

}

	#footer .title h2 {
		font-size: 48px;
		font-weight: 900;
		line-height: 1.4;
		letter-spacing: 0.8px;
		text-align: left;
		color: #ffffff;
		margin-bottom: 40px;
	}

	#footer .order {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		border-bottom: 1px solid rgba(255, 255, 255, 0.27); 
		padding-bottom: 60px; }

	#footer .order p{
		font-size: 24px;
		font-weight: 300;
		line-height: 1.42;
		letter-spacing: 0.4px;
		text-align: left;
		color: #ffffff;
	}

	#footer form {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	#footer .tel {
		padding-right: 32px;
		justify-content: center;
		display: flex;
		align-items: center;
	}

	#footer .button {
		padding-right: 32px;
		justify-content: center;
		display: flex;
		align-items: center;
	}

	input[type='tel'] {
		max-width: 215px;
		width: 100%;
		height: 51px;
		border-radius: 5px;
 		border: solid 1px rgba(255, 255 ,255, 0.52);
 		background: none;
 		font-size: 16px;
 		color: rgba(255, 255 ,255, 0.52);
 		display: block;
 		padding: 0 20px;
	}

		input[type='tel']::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: rgba(255, 255 ,255, 0.52);
		}
		input[type='tel']::-moz-placeholder { /* Firefox 19+ */
		color: rgba(255, 255 ,255, 0.52);
		}
		input[type='tel']:-ms-input-placeholder { /* IE 10+ */
		color: rgba(255, 255 ,255, 0.52);
		}
		input[type='tel']:-moz-placeholder { /* Firefox 18- */
		color: rgba(255, 255 ,255, 0.52);
}

	input[type='submit'] {
		width: 215px;
		height: 51px;
		border-radius: 5px;
		background-color: #ffffff;
		border: solid 1px #ffffff;
		font-size: 16px;
		font-weight: 500;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #0f63fe;
		text-align: center;
		transition: 300ms all linear; 
		cursor: pointer; }

	input[type='submit']:hover {
		background: #367dff;
		color: #fff;
		border: solid 1px #fff;
	}
	

	#footer .bottom  {
		display: flex;
		padding-top: 38px;
	}

	#footer .bottom .inline.social {
		margin-left: auto; }

	#footer .bottom .inline.tel {
		display: inline-block;
		padding-right: 107px;
		justify-content: center;
	}

	#footer .bottom .inline.tel p {
		padding-bottom: 19px;
		font-size: 18px;
		font-weight: normal;
		line-height: normal;
		letter-spacing: 0.6px;
		text-align: left;
		color: #ffffff;	}

	#footer .bottom .inline.tel .phone a {
		font-size: 18px;
		font-weight: normal;
		line-height: 1.89;
		letter-spacing: 0.6px;
		text-align: left;
		color: #ffffff;
		text-decoration: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.55);
		padding-bottom: 5px;
	}

	#footer .bottom .inline.adress p {
		padding-bottom: 19px;
		font-size: 18px;
		font-weight: normal;
		line-height: normal;
		letter-spacing: 0.6px;
		text-align: left;
		color: #ffffff;	}
		
	#footer .bottom .inline.adress span {
		position: relative;
		display: inline;
		font-size: 18px;
		font-weight: normal;
		line-height: 34px;
		letter-spacing: 0.6px;
		text-align: left;
		color: #ffffff;
		border-bottom: 1px solid rgba(255, 255, 255, 0.55);
		padding-bottom: 5px;
		 }

	
	#footer .bottom .inline.social p {
		padding-bottom: 31px;
		font-size: 18px;
		font-weight: normal;
		line-height: normal;
		letter-spacing: 0.6px;
		text-align: left;
		color: #ffffff;	}


	#footer .bottom .links {
		text-align: right;
	}

	#footer .bottom .links a {
		display: inline-block;
		color: #fff;
		text-decoration: none;
		font-size: 18px;
		transition: 300ms all linear;
		margin-left: 18px;
		vertical-align: middle;
	}

	#footer .bottom .links a:hover {
		transform: rotate(360deg);
	}


	#footer .bottom .inline.social a.fb {
		background: url(images/facebook.png) 0 0 no-repeat;
		width: 9px;
		height: 18px;
	}

	#footer .bottom .inline.social a.vk {
		background: url(images/vk.png) 0 0 no-repeat;
		width: 23px;
		height: 12px;
	}

	#footer .bottom .inline.social a.inst {
		background: url(images/insta.png) 0 0 no-repeat;
		width: 14px;
		height: 14px;
	}


	#popup-slider {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
		background-color: rgba(54, 125, 255, 0.29);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		overflow-y: auto;
		visibility: hidden;
		opacity: 0;
		transition: 300ms all linear;
	}

		#popup-slider.active {
			visibility: visible;
			opacity: 1;
		}

	#popup-slider .popup-content {
		position: relative;
		margin: auto;
		max-width: 1065px;
		width: 100%;
		}

	#popup-slider .popup-content .slide {
		background: #fff;
		display: none;
		justify-content: space-between;
		border-radius: 5px;
		overflow: hidden;
	}

	#popup-slider .popup-content .slide.active {
		display: flex;
		align-items: flex-start;
	}


	#popup-slider .popup-content .close {
		position: absolute;
		transition: 300ms all linear;
		cursor: pointer;
		width: 27px;
		height: 27px;
		background: url(images/close.png);
		left: 1080px;
	}
		

	#popup-slider .popup-content .left {
		display: flex;
		flex-direction: column;
		width: 370px;
		background-color: #fff;
		border-right: 3px solid rgba(150, 150, 150, .1);
		max-height: 700px;
	}
	
	#popup-slider .popup-content .left .wrapper {
		width: 100%;
		height: 100%;
		border-bottom: 1px solid rgba(150, 150, 150, .1);
	}


	#popup-slider .popup-content .left .name {
		margin: 35px 0 0 42px;
		padding-bottom: 18px;
		font-size: 24px;
		font-weight: bold;
		line-height: 1.46;
		letter-spacing: normal;
		text-align: left;
		color: #1a3c7c; 
	}

	#popup-slider .popup-content .left .list {
		padding: 24px 0 0 42px;
	}
	
	#popup-slider .popup-content h2 {
		font-size: 20px;
		font-weight: 500;
		line-height: 1.4;
		letter-spacing: normal;
		text-align: left;
		color: #1a3c7c;
		margin-bottom: 7px;
	}

	#popup-slider .popup-content h3 {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.56;
		letter-spacing: normal;
		text-align: left;
		color: #1a3c7c;
		margin-bottom: 7px;
	}

	#popup-slider .popup-content p {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: #1a3c7c;
		margin-bottom: 14px;
	}

	#popup-slider .popup-content .right p {
		padding: 20px;
		margin-bottom: 0;
	}
	
	#popup-slider .popup-content .left .btn {
		width: 262px;
		height: 51px;
		border-radius: 5px;
		border: 1px solid #367dff;
		background-color: #367dff;
		font-size: 14px;
		font-weight: 500;
		line-height: 51px;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		margin: 25px 0 55px 42px;
		cursor: pointer;
		transition: 300ms all linear;
		}
	
		#popup-slider .popup-content .left .btn:hover {
			background: #fff;
			color: #377dff;
			border: solid 1px #377dff;
		}

	#popup-slider .popup-content .right {
		width: calc(100% - 370px);
	}
	
		#popup-slider .popup-content .right img {
			width: 100%;
			height: auto;
		}

